extends layout

block content

  div(class='form-group')
    form(method='post')

      fieldset
        legend Login

        div(class='form-group')
          label(for='username') Username
          input(class='form-control', required, type='text', name='username')

          div(class='form-group')
            label(for='password') Password
            input(class='form-control', type='password', name='password', required)

        button(type='submit', class='btn btn-primary') Login
